<div *ngFor="let patient of patientsList | searchStringPipe: searchString; let i =index" class="order-card"
    (click)="openPatientDetails(patient?.patient_id)">
    <div><span class="bold">Room No. </span>{{patient?.room_no}}</div>
    <div><span class="bold">Patient Name: </span>
        @if (patient?.patient_gender == 'male'){
        <span>Mr. </span>
        } @else {
        <span>Mrs.</span>
        }
        <span>{{patient?.patient_firstname}} </span>
        <span>{{patient?.patient_lastname}}</span>
    </div>
    <div><span class="bold">Patient Id: </span>{{patient?.patient_id}}</div>
    <div><span class="bold">Age: </span>{{patient?.patient_age}}</div>
    <div><span class="bold">Doctor Name: </span>{{patient?.doctor_name}}</div>
    <mat-icon>open_in_new</mat-icon>
</div>