<div *ngFor="let patient of patientsList | searchStringPipe: searchString; let i =index" class="order-card"
    (click)="openPatientDetails()">
    <div>Room No. {{patient?.room_no}}</div>
    <div>Patient Name:
        @if (patient?.patient_gender == 'male'){
        <span>Mr. </span>
        } @else {
        <span>Mrs.</span>
        }
        <span>{{patient?.patient_firstname}} </span>
        <span>{{patient?.patient_lastname}}</span>
    </div>
    <div>Patient Id: {{patient?.patient_id}}</div>
    <div>Age: {{patient?.patient_age}}</div>
    <div>Doctor Name: {{patient?.doctor_name}}</div>
    <mat-icon>open_in_new</mat-icon>
</div>