.patientDetails {
    width: 100%;

    .bold {
        font-weight: 600;
    }

    .pageTitle {
        background-color: #86BBC0;
        width: 100%;
        padding: 15px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;

        .back-icon {
            margin-right: 10px;
        }

        .title-text {
            vertical-align: middle;
        }
    }
}