<section class="patientDetails" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="start center" class="pageTitle">
        <mat-icon class="back-icon" routerLink="/dashboard">arrow_back</mat-icon>
        <span class="title-text">Patient Details</span>
    </div>
    <mat-card fxLayout="column" fxLayoutAlign="start stretch" class="parentCardsBody">
        <mat-expansion-panel expanded="true" class="card">
            <mat-expansion-panel-header class="cardTitle">
                <mat-panel-title>
                    Patient Information
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-card fxLayout="column" fxLayoutAlign="center stretch" class="card_body">
                <mat-card-title><span class="bold">Name: </span> @if (patientDetails?.patient_gender == 'male'){
                    <span>Mr. </span>
                    } @else {
                    <span>Mrs.</span>
                    }
                    <span>{{patientDetails?.patient_firstname}} </span>
                    <span>{{patientDetails?.patient_lastname}}</span></mat-card-title>
                <mat-card-subtitle>
                    <span><span class="bold">Patient ID: </span>{{patientDetails?.patient_id}}</span><br>
                    <span class="divider"><span class="bold">Age:
                        </span>{{patientDetails?.patient_age}}</span>&nbsp;&nbsp;&nbsp;
                    <span><span class="bold">Gender: </span>{{patientDetails?.patient_gender | uppercase}}</span>
                </mat-card-subtitle>
                <mat-card-subtitle><span class="bold">Doctor: </span>Dr.
                    {{patientDetails?.doctor_name}}</mat-card-subtitle>
            </mat-card>
        </mat-expansion-panel>

        <mat-expansion-panel class="card">
            <mat-expansion-panel-header class="cardTitle">
                <mat-panel-title>Case Details</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{patientDetails?.case_details}}</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="card">
            <mat-expansion-panel-header class="cardTitle">
                <mat-panel-title>Medication Details</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{patientDetails?.medications}}</p>
        </mat-expansion-panel>
    </mat-card>

    <div fxLayout="row" fxLayoutAlign="center center" class="reportsBtnContainer">
        <button fxFlex="100" class="btn_primary" [routerLink]="['/reports', patientDetails?.patient_id]">View
            Reports</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="new_report_button">
        <div class="btn_primary" [routerLink]="['/add-new-readings', patientDetails?.patient_id]">
            <mat-icon>add</mat-icon>
        </div>
        <span class="extentedBtn" [routerLink]="['/add-new-readings', patientDetails?.patient_id]">Note New
            Readings</span>
    </div>
</section>