.patientDetails {
    width: 100%;

    .bold {
        font-weight: 600;
    }

    .pageTitle {
        background-color: #86BBC0;
        width: 100%;
        padding: 15px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;

        .back-icon {
            margin-right: 10px;
        }

        .title-text {
            vertical-align: middle;
        }
    }

    .parentCardsBody {
        width: 100%;
        padding: 15px 15px 0px;

        .card {
            margin-bottom: 15px;
            padding: 0px 10px 0px;

            .cardTitle {
                padding: 10px 15px;
                font-size: 16px;
                font-weight: 500;
            }

            .card_body {
                line-height: 30px;
            }


        }

        .mat-expansion-panel-body {
            padding: 0 15px !important;
        }
    }

    .reportsBtnContainer {
        width: 100%;
        padding: 0px 15px 15px;

        .btn_primary {
            width: 100%;
        }
    }

    .new_report_button {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 100%;
        padding: 15px;
        font-weight: 500;

        .btn_primary {
            background-color: #de8628 !important;
            border-color: #de8628 !important;
            border-radius: 35px !important;
            width: 20%;
            height: 65px !important;
        }

        .extentedBtn {
            background-color: #de8628 !important;
            color: white;
            padding: 10px;
            margin-left: -10px;
            border-radius: 8px !important;
        }

    }
}