.dashboard {
    .pageTitle {
        background-color: #86BBC0;
        width: 100%;
        padding: 15px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;

        mat-icon {
            position: absolute;
            right: 15px;
        }
    }

    .dashboardDetails {
        width: 100%;
        padding: 0px 15px 0px 15px;


    }

    .input-container {
        position: relative;
        width: 100%;
        padding: 15px;

        .custom_input {
            width: 100%;
            padding: 10px 20px 10px 40px;
            font-size: 16px;
        }

        .custom_input:focus {
            border-color: #1976d2;
        }

        mat-icon {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: #ccc;
            font-size: 24px;
            pointer-events: none;
            /* Makes sure the icon is not clickable */
        }
    }
}