// @use "/src/mixin" as mixin;

html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom_input {}

.btn_primary {
    background: #41949b !important;
    border: 1px solid #41949b !important;
    color: #fff !important;
    height: 42px !important;
    border-radius: 8px !important;
    width: 100%;

    &:disabled {
        cursor: not-allowed;
        background: #8F949C !important;
        border: 1px solid #8F949C !important;
        opacity: .6;
    }
}

.btn_reset {
    background: #fff !important;
    color: #41949b !important;
    border: 1px solid #41949b;
    height: 42px !important;
    border-radius: 8px !important;
    width: 100%;
}

.input_container_icon {
    position: relative;
    width: 100%;

    .icon {
        position: absolute;
        right: 10px;
        transform: translateY(-50%);
        bottom: -3px;
        cursor: pointer;
    }
}

.input_container_icon input {
    width: 100%;
    padding-right: 40px;
    font-size: 16px;
    height: 42px;
    padding-left: 15px;
    border-radius: 8px;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
}